<a href="https://colab.research.google.com/github/AjayINSE6220/Ajay_INSE_6220_Project-/blob/main/RAjayINSE6220.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [4]:
df = pd.read_csv('SaYoPillow.csv')
df.head(10)

      sr      rr       t      lm      bo    rem   sr.1     hr  sl
0  93.80  25.680  91.840  16.600  89.840  99.60  1.840  74.20   3
1  91.64  25.104  91.552  15.880  89.552  98.88  1.552  72.76   3
2  60.00  20.000  96.000  10.000  95.000  85.00  7.000  60.00   1
3  85.76  23.536  90.768  13.920  88.768  96.92  0.768  68.84   3
4  48.12  17.248  97.872   6.496  96.248  72.48  8.248  53.12   0
5  56.88  19.376  95.376   9.376  94.064  83.44  6.376  58.44   1
6  47.00  16.800  97.200   5.600  95.800  68.00  7.800  52.00   0
7  50.00  18.000  99.000   8.000  97.000  80.00  9.000  55.00   0
8  45.28  16.112  96.168   4.224  95.112  61.12  7.112  50.28   0
9  55.52  19.104  95.104   9.104  93.656  82.76  6.104  57.76   1